*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    display: flex;
    padding: 1%;
    margin: 0px;
    background-color: #212121;
    overflow: hidden;
    justify-content:space-between
    
}



.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 15px;
    text-align: center;
    
    
}

.navbar a:hover{
    background-color: #444444;
}
.navbar{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

ul{
    display: flex;
    list-style: none;
}
   

.navbar img{
    width: 200px;
    height: 30px;
    object-fit: cover;
    display: block;
    max-height: 50;
    transition: transform 0.3s ease-in-out;
}

.searchbar img {
    width: 17px;
    height: 17px;
}

.searchbar {
    flex-grow: 1;
    display: flex;
    align-content: center;
    
}

.searchbar form {

    display: flex;
    align-items: center;
    background: white;
    padding: 3px;
    margin: 10px;
    border-radius: 13px;
}

.searchbar input {

    padding: 5px;
    border: none;
    outline: none;
}

.searchbar button {
    background: none;
    border: none;
    cursor: pointer;
}

.imagebutten:hover img {
    transform: scale(1.1);
}

.imagebutten:active {
    transform: scale(0.95);
}

footer {
    background-color: #222; /* Dark background color */
    color: #fff;  /* White text color */
    padding: 40px 0 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.footer-section {
    width: 30%; /* Three equal-width sections */
    margin-bottom: 30px;
}
.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin: 1%;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.social-links li a:hover {
    color: #ff6347; 
}


.footer-bottom {
    background-color: #111;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.footer-bottom p {
    margin-bottom: 0%;
}


@media screen and (max-width: 768px) {
    .Welcome{
        font-size: 15px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%; 
        margin-bottom: 30px;
    }
}

h1,h2,h3 {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    background: linear-gradient(to right, #e33a10, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p, li {
    color: white;
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(rgba(9, 9, 9, 0.8), rgba(0, 0, 0, 0.5)), 
                url('images/agent-background.jpg') no-repeat center center/cover;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

.image-column {
    flex: 1;
    text-align: center;
}

.image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.text-column {
    flex: 2;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
    }
}

